n8n/workflows/00-connectivity-check.json
{
  "name": "00 - AscultiCor Connectivity Check",
  "nodes": [
    {
      "parameters": {},
      "id": "9e2e1210-5211-569b-b85c-cc3aca5617fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{(($env.ASCULTICOR_INFERENCE_URL || 'http://inference:8000').replace(/\\/+$/, '')) + '/health'}}",
        "options": {}
      },
      "id": "ed672b4d-e54f-5bb1-a6ad-b228718f5662",
      "name": "Inference Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{(($env.ASCULTICOR_APP_URL || 'http://frontend:3000').replace(/\\/+$/, '')) + '/api/health'}}",
        "options": {}
      },
      "id": "7d9a36bb-8934-5d18-b298-2e6bf63f4bab",
      "name": "Frontend Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{($env.SUPABASE_URL || '').replace(/\\/+$/, '') + '/rest/v1/llm_reports?select=id,status,created_at&limit=1'}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "899ee5c9-5c79-5df2-94d1-600f46a6145d",
      "name": "Supabase LLM Report Sample",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function env(name, fallback = '') {\n  const value = typeof $env !== 'undefined' ? $env[name] : undefined;\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nconst EMAIL_TO = env('ASCULTICOR_ALERT_EMAIL_TO');\nconst EMAIL_FROM = env('ASCULTICOR_ALERT_EMAIL_FROM', 'AscultiCor <alerts@localhost>');\n\nfunction emailItem(subject, text, to = EMAIL_TO) {\n  if (!to) throw new Error('A recipient email is required before sending email');\n  return { json: { emailFrom: EMAIL_FROM, emailTo: to, emailSubject: subject, emailText: text } };\n}\n\nfunction firstJson(nodeName) {\n  try {\n    return $(nodeName).first().json;\n  } catch (error) {\n    return { unavailable: true, error: error.message };\n  }\n}\n\nfunction allJson(nodeName) {\n  try {\n    return $(nodeName).all().map((item) => item.json);\n  } catch (error) {\n    return [{ unavailable: true, error: error.message }];\n  }\n}\n\nfunction preview(value) {\n  return JSON.stringify(value).slice(0, 300);\n}\n\nconst inference = firstJson('Inference Health');\nconst frontend = firstJson('Frontend Health');\nconst reports = allJson('Supabase LLM Report Sample');\n\nreturn [\n  emailItem(\n    'AscultiCor n8n connectivity OK',\n    [\n      'AscultiCor n8n connectivity check passed.',\n      '',\n      `Inference: ${preview(inference)}`,\n      `Frontend: ${preview(frontend)}`,\n      `Supabase llm_reports sample rows: ${reports.length}`,\n      `Checked at: ${new Date().toISOString()}`,\n    ].join('\\n')\n  )\n];\n"
      },
      "id": "97e5f004-948c-55f7-ad6b-e545865d58d9",
      "name": "Build Connectivity Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailText}}",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7439a336-acf9-58f0-a13d-d5086c9d46a1",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Inference Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inference Health": {
      "main": [
        [
          {
            "node": "Frontend Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frontend Health": {
      "main": [
        [
          {
            "node": "Supabase LLM Report Sample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase LLM Report Sample": {
      "main": [
        [
          {
            "node": "Build Connectivity Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Connectivity Email": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "active": false,
  "versionId": "89f1b10c-af73-5d1e-a443-1ed046e973c2",
  "id": ""
}
