n8n/workflows/04-daily-digest.json
{
  "name": "04 - Daily Digest",
  "nodes": [
    {
      "parameters": {},
      "id": "9e2e1210-5211-569b-b85c-cc3aca5617fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "1b06545d-9f25-5431-94ba-3512784274f1",
      "name": "Daily 09 Cairo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{(($env.ASCULTICOR_APP_URL || 'http://frontend:3000').replace(/\\/+$/, '')) + '/api/n8n/workflows?action=daily-digest'}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "={{$env.ASCULTICOR_INTERNAL_HOST_HEADER || ($env.ASCULTICOR_PUBLIC_APP_URL || 'https://srv1621744.hstgr.cloud').replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '')}}"
            },
            {
              "name": "X-Forwarded-Host",
              "value": "={{$env.ASCULTICOR_INTERNAL_HOST_HEADER || ($env.ASCULTICOR_PUBLIC_APP_URL || 'https://srv1621744.hstgr.cloud').replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '')}}"
            },
            {
              "name": "X-Forwarded-Proto",
              "value": "https"
            },
            {
              "name": "x-internal-token",
              "value": "={{$env.ASCULTICOR_INTERNAL_API_TOKEN}}"
            }
          ]
        },
        "method": "POST"
      },
      "id": "112bcf4e-02d0-5a5a-96d8-731c78c9812e",
      "name": "Run Daily Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const emails = Array.isArray($json.emails) ? $json.emails : [];\n\nreturn emails\n  .filter((item) => item && item.emailTo && item.emailSubject && item.emailText)\n  .map((item) => ({\n    json: {\n      emailFrom: item.emailFrom || '',\n      emailTo: item.emailTo,\n      emailSubject: item.emailSubject,\n      emailText: item.emailText,\n    },\n  }));\n"
      },
      "id": "8dd96dec-e483-5a59-a6ea-fc3e58031577",
      "name": "Prepare Daily Digest Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailText}}",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7439a336-acf9-58f0-a13d-d5086c9d46a1",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 09 Cairo": {
      "main": [
        [
          {
            "node": "Run Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily Digest": {
      "main": [
        [
          {
            "node": "Prepare Daily Digest Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Daily Digest Emails": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "active": false,
  "versionId": "fa136632-7eb4-5e52-801d-e7e4d78d7856",
  "id": ""
}
