n8n/workflows/04-daily-digest.json
{
  "name": "04 - Daily Digest",
  "nodes": [
    {
      "parameters": {},
      "id": "9e2e1210-5211-569b-b85c-cc3aca5617fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "1b06545d-9f25-5431-94ba-3512784274f1",
      "name": "Daily 09 Cairo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "function env(name, fallback = '') {\n  return process.env[name] || fallback;\n}\n\nfunction requiredEnv(name) {\n  const value = env(name);\n  if (!value) throw new Error(`${name} is required`);\n  return value;\n}\n\nconst SUPABASE_URL = requiredEnv('SUPABASE_URL').replace(/\\/+$/, '');\nconst SERVICE_KEY = requiredEnv('SUPABASE_SERVICE_ROLE_KEY');\nconst APP_URL = env('ASCULTICOR_PUBLIC_APP_URL', env('DEVICE_BOOTSTRAP_PUBLIC_BASE_URL', 'https://srv1621744.hstgr.cloud')).replace(/\\/+$/, '');\nconst EMAIL_TO = env('ASCULTICOR_ALERT_EMAIL_TO');\nconst EMAIL_FROM = env('ASCULTICOR_ALERT_EMAIL_FROM', 'AscultiCor <alerts@localhost>');\n\nasync function supabase(path, options = {}) {\n  const method = options.method || 'GET';\n  const headers = {\n    apikey: SERVICE_KEY,\n    Authorization: `Bearer ${SERVICE_KEY}`,\n    'Content-Type': 'application/json',\n    ...(options.headers || {}),\n  };\n  if (options.prefer) headers.Prefer = options.prefer;\n  const response = await fetch(`${SUPABASE_URL}/rest/v1/${path}`, {\n    method,\n    headers,\n    body: options.body === undefined ? undefined : JSON.stringify(options.body),\n  });\n  const text = await response.text();\n  if (!response.ok) {\n    throw new Error(`${method} ${path} failed: ${response.status} ${text}`);\n  }\n  if (!text) return null;\n  try {\n    return JSON.parse(text);\n  } catch {\n    return text;\n  }\n}\n\nfunction qs(params) {\n  const out = new URLSearchParams();\n  for (const [key, value] of Object.entries(params)) {\n    if (value !== undefined && value !== null) out.append(key, String(value));\n  }\n  return out.toString();\n}\n\nfunction get(obj, path, fallback = undefined) {\n  return path.split('.').reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : undefined), obj) ?? fallback;\n}\n\nfunction isoMinutesAgo(minutes) {\n  return new Date(Date.now() - minutes * 60 * 1000).toISOString();\n}\n\nfunction emailItem(subject, text, to = EMAIL_TO) {\n  if (!to) throw new Error('A recipient email is required before sending email');\n  return { json: { emailFrom: EMAIL_FROM, emailTo: to, emailSubject: subject, emailText: text } };\n}\n\nasync function findOpenAlert(deviceId, sessionId, subtype) {\n  const rows = await supabase(`device_alerts?${qs({\n    select: '*',\n    device_id: `eq.${deviceId}`,\n    is_resolved: 'eq.false',\n    order: 'created_at.desc',\n    limit: 100,\n  })}`);\n  return (rows || []).find((row) => {\n    const metadata = row.metadata || {};\n    return metadata.session_id === sessionId && metadata.subtype === subtype;\n  });\n}\n\nasync function insertAlert({ deviceId, orgId, alertType, severity, message, metadata }) {\n  const inserted = await supabase('device_alerts?select=*', {\n    method: 'POST',\n    prefer: 'return=representation',\n    body: {\n      device_id: deviceId,\n      org_id: orgId,\n      alert_type: alertType,\n      severity,\n      message,\n      metadata,\n      is_resolved: false,\n    },\n  });\n  return inserted?.[0];\n}\n\nasync function patientForSession(session) {\n  if (!session?.patient_id) return null;\n  const rows = await supabase(`patients?${qs({ select: 'id,full_name,email', id: `eq.${session.patient_id}`, limit: 1 })}`);\n  return rows?.[0] || null;\n}\n\nconst CLAUDE_API_KEY = env('CLAUDE_API_KEY');\nconst CLAUDE_BASE_URL = env('CLAUDE_BASE_URL', 'https://agentrouter.org').replace(/\\/+$/, '');\nconst CLAUDE_MODEL = env('CLAUDE_MODEL', 'claude-sonnet-4-5-20250514');\nconst since = isoMinutesAgo(24 * 60);\n\nconst [sessions, predictions, alerts, devices] = await Promise.all([\n  supabase(`sessions?${qs({ select: '*', created_at: `gte.${since}`, order: 'created_at.desc', limit: 1000 })}`),\n  supabase(`predictions?${qs({ select: '*', created_at: `gte.${since}`, order: 'created_at.desc', limit: 2000 })}`),\n  supabase(`device_alerts?${qs({ select: '*', is_resolved: 'eq.false', order: 'created_at.desc', limit: 500 })}`),\n  supabase('device_status_overview?select=*&limit=500'),\n]);\n\nconst pcgMurmur = (predictions || []).filter((p) => p.modality === 'pcg' && p.output_json?.label === 'Murmur').length;\nconst ecgAbnormal = (predictions || []).filter((p) => p.modality === 'ecg' && p.output_json?.prediction === 'Abnormal').length;\nconst errorSessions = (sessions || []).filter((s) => s.status === 'error').length;\nconst completedSessions = (sessions || []).filter((s) => s.status === 'done').length;\nconst offlineDevices = (devices || []).filter((d) => {\n  if (!d.last_seen_at) return true;\n  return Date.now() - Date.parse(d.last_seen_at) > 5 * 60 * 1000;\n});\nconst reviewSessions = (sessions || []).filter((s) => s.status === 'error').slice(0, 5).map((s) => `${APP_URL}/session/${s.id}`);\n\nlet summary = '';\nif (CLAUDE_API_KEY) {\n  const prompt = `Summarize this AscultiCor operational digest in one concise paragraph. Do not provide medical diagnosis.\n\nTotal sessions: ${(sessions || []).length}\nCompleted sessions: ${completedSessions}\nError sessions: ${errorSessions}\nMurmur predictions: ${pcgMurmur}\nAbnormal ECG predictions: ${ecgAbnormal}\nUnresolved alerts: ${(alerts || []).length}\nOffline devices: ${offlineDevices.length}`;\n  const response = await fetch(`${CLAUDE_BASE_URL}/v1/messages`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': CLAUDE_API_KEY,\n      'anthropic-version': '2023-06-01',\n    },\n    body: JSON.stringify({ model: CLAUDE_MODEL, max_tokens: 800, messages: [{ role: 'user', content: prompt }] }),\n  });\n  if (response.ok) {\n    const data = await response.json();\n    summary = (data.content || []).filter((block) => block.type === 'text').map((block) => block.text).join('\\n\\n');\n  }\n}\n\nconst body = [\n  'AscultiCor daily digest',\n  '',\n  summary ? `Summary: ${summary}\\n` : '',\n  `Window: last 24 hours since ${since}`,\n  `Total sessions: ${(sessions || []).length}`,\n  `Completed sessions: ${completedSessions}`,\n  `Error sessions: ${errorSessions}`,\n  `Murmur predictions: ${pcgMurmur}`,\n  `Abnormal ECG predictions: ${ecgAbnormal}`,\n  `Unresolved alerts: ${(alerts || []).length}`,\n  `Offline devices: ${offlineDevices.length}`,\n  '',\n  'Top sessions needing review:',\n  ...(reviewSessions.length ? reviewSessions : ['None']),\n].filter(Boolean).join('\\n');\n\nreturn [emailItem('[AscultiCor] Daily Digest', body)];\n"
      },
      "id": "8313985f-d248-5bdc-b60e-70f3a6053fe2",
      "name": "Build Daily Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailText}}",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7439a336-acf9-58f0-a13d-d5086c9d46a1",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 09 Cairo": {
      "main": [
        [
          {
            "node": "Build Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Digest": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "active": false,
  "versionId": "fa136632-7eb4-5e52-801d-e7e4d78d7856",
  "id": ""
}
