n8n/workflows/06-ops-monitoring.json
{
  "name": "06 - Ops Monitoring",
  "nodes": [
    {
      "parameters": {},
      "id": "9e2e1210-5211-569b-b85c-cc3aca5617fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "8c7a292f-a576-5224-a932-afda95dcde66",
      "name": "Every Five Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "function env(name, fallback = '') {\n  return process.env[name] || fallback;\n}\n\nfunction requiredEnv(name) {\n  const value = env(name);\n  if (!value) throw new Error(`${name} is required`);\n  return value;\n}\n\nconst SUPABASE_URL = requiredEnv('SUPABASE_URL').replace(/\\/+$/, '');\nconst SERVICE_KEY = requiredEnv('SUPABASE_SERVICE_ROLE_KEY');\nconst APP_URL = env('ASCULTICOR_PUBLIC_APP_URL', env('DEVICE_BOOTSTRAP_PUBLIC_BASE_URL', 'https://srv1621744.hstgr.cloud')).replace(/\\/+$/, '');\nconst EMAIL_TO = env('ASCULTICOR_ALERT_EMAIL_TO');\nconst EMAIL_FROM = env('ASCULTICOR_ALERT_EMAIL_FROM', 'AscultiCor <alerts@localhost>');\n\nasync function supabase(path, options = {}) {\n  const method = options.method || 'GET';\n  const headers = {\n    apikey: SERVICE_KEY,\n    Authorization: `Bearer ${SERVICE_KEY}`,\n    'Content-Type': 'application/json',\n    ...(options.headers || {}),\n  };\n  if (options.prefer) headers.Prefer = options.prefer;\n  const response = await fetch(`${SUPABASE_URL}/rest/v1/${path}`, {\n    method,\n    headers,\n    body: options.body === undefined ? undefined : JSON.stringify(options.body),\n  });\n  const text = await response.text();\n  if (!response.ok) {\n    throw new Error(`${method} ${path} failed: ${response.status} ${text}`);\n  }\n  if (!text) return null;\n  try {\n    return JSON.parse(text);\n  } catch {\n    return text;\n  }\n}\n\nfunction qs(params) {\n  const out = new URLSearchParams();\n  for (const [key, value] of Object.entries(params)) {\n    if (value !== undefined && value !== null) out.append(key, String(value));\n  }\n  return out.toString();\n}\n\nfunction get(obj, path, fallback = undefined) {\n  return path.split('.').reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : undefined), obj) ?? fallback;\n}\n\nfunction isoMinutesAgo(minutes) {\n  return new Date(Date.now() - minutes * 60 * 1000).toISOString();\n}\n\nfunction emailItem(subject, text, to = EMAIL_TO) {\n  if (!to) throw new Error('A recipient email is required before sending email');\n  return { json: { emailFrom: EMAIL_FROM, emailTo: to, emailSubject: subject, emailText: text } };\n}\n\nasync function findOpenAlert(deviceId, sessionId, subtype) {\n  const rows = await supabase(`device_alerts?${qs({\n    select: '*',\n    device_id: `eq.${deviceId}`,\n    is_resolved: 'eq.false',\n    order: 'created_at.desc',\n    limit: 100,\n  })}`);\n  return (rows || []).find((row) => {\n    const metadata = row.metadata || {};\n    return metadata.session_id === sessionId && metadata.subtype === subtype;\n  });\n}\n\nasync function insertAlert({ deviceId, orgId, alertType, severity, message, metadata }) {\n  const inserted = await supabase('device_alerts?select=*', {\n    method: 'POST',\n    prefer: 'return=representation',\n    body: {\n      device_id: deviceId,\n      org_id: orgId,\n      alert_type: alertType,\n      severity,\n      message,\n      metadata,\n      is_resolved: false,\n    },\n  });\n  return inserted?.[0];\n}\n\nasync function patientForSession(session) {\n  if (!session?.patient_id) return null;\n  const rows = await supabase(`patients?${qs({ select: 'id,full_name,email', id: `eq.${session.patient_id}`, limit: 1 })}`);\n  return rows?.[0] || null;\n}\n\nconst issues = [];\n\nasync function getJson(url, headers = {}) {\n  const response = await fetch(url, { headers });\n  const text = await response.text();\n  if (!response.ok) throw new Error(`${url} failed: ${response.status} ${text}`);\n  try { return JSON.parse(text); } catch { return text; }\n}\n\ntry {\n  await getJson(env('ASCULTICOR_INFERENCE_URL', 'http://inference:8000') + '/health');\n} catch (error) {\n  issues.push(`Inference health failed: ${error.message}`);\n}\n\ntry {\n  await getJson(env('ASCULTICOR_INFERENCE_URL', 'http://inference:8000') + '/metrics', {\n    'x-internal-token': requiredEnv('ASCULTICOR_INFERENCE_TOKEN'),\n  });\n} catch (error) {\n  issues.push(`Inference metrics failed: ${error.message}`);\n}\n\ntry {\n  const stats = await getJson(env('ASCULTICOR_APP_URL', 'http://frontend:3000') + '/api/llm?action=queue-stats', {\n    'x-internal-token': requiredEnv('ASCULTICOR_INTERNAL_API_TOKEN'),\n  });\n  const queue = stats.queue || {};\n  if ((queue.pending || 0) > 10) issues.push(`LLM pending queue is high: ${queue.pending}`);\n  if (queue.oldest_pending_created_at && Date.now() - Date.parse(queue.oldest_pending_created_at) > 15 * 60 * 1000) {\n    issues.push(`Oldest pending LLM report is older than 15 minutes: ${queue.oldest_pending_created_at}`);\n  }\n  if ((queue.generating || 0) > 5) issues.push(`Many reports are generating: ${queue.generating}`);\n} catch (error) {\n  issues.push(`LLM queue stats failed: ${error.message}`);\n}\n\nif (!issues.length) return [];\nreturn [emailItem('[AscultiCor] Ops Monitoring Alert', ['AscultiCor ops monitor found issues:', '', ...issues].join('\\n'))];\n"
      },
      "id": "02f073aa-7455-52d8-a5cc-7f4f470f4417",
      "name": "Check Ops",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailText}}",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7439a336-acf9-58f0-a13d-d5086c9d46a1",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Five Minutes": {
      "main": [
        [
          {
            "node": "Check Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ops": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "active": false,
  "versionId": "fd33a047-42a5-53de-9f5f-a680761fc910",
  "id": ""
}
