n8n/workflows/06-ops-monitoring.json
{
  "name": "06 - Ops Monitoring",
  "nodes": [
    {
      "parameters": {},
      "id": "9e2e1210-5211-569b-b85c-cc3aca5617fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "8c7a292f-a576-5224-a932-afda95dcde66",
      "name": "Every Five Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{(($env.ASCULTICOR_APP_URL || 'http://frontend:3000').replace(/\\/+$/, '')) + '/api/n8n/workflows?action=ops-monitoring'}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "={{$env.ASCULTICOR_INTERNAL_HOST_HEADER || ($env.ASCULTICOR_PUBLIC_APP_URL || 'https://srv1621744.hstgr.cloud').replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '')}}"
            },
            {
              "name": "X-Forwarded-Host",
              "value": "={{$env.ASCULTICOR_INTERNAL_HOST_HEADER || ($env.ASCULTICOR_PUBLIC_APP_URL || 'https://srv1621744.hstgr.cloud').replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '')}}"
            },
            {
              "name": "X-Forwarded-Proto",
              "value": "https"
            },
            {
              "name": "x-internal-token",
              "value": "={{$env.ASCULTICOR_INTERNAL_API_TOKEN}}"
            }
          ]
        },
        "method": "POST"
      },
      "id": "499c88a4-65a8-5a17-88f3-a7c80dd84e7f",
      "name": "Run Ops Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const emails = Array.isArray($json.emails) ? $json.emails : [];\n\nreturn emails\n  .filter((item) => item && item.emailTo && item.emailSubject && item.emailText)\n  .map((item) => ({\n    json: {\n      emailFrom: item.emailFrom || '',\n      emailTo: item.emailTo,\n      emailSubject: item.emailSubject,\n      emailText: item.emailText,\n    },\n  }));\n"
      },
      "id": "12be4a63-bb81-5009-befd-f890528c9697",
      "name": "Prepare Ops Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailText}}",
        "emailType": "text",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7439a336-acf9-58f0-a13d-d5086c9d46a1",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run Ops Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Five Minutes": {
      "main": [
        [
          {
            "node": "Run Ops Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Ops Monitoring": {
      "main": [
        [
          {
            "node": "Prepare Ops Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ops Emails": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "active": false,
  "versionId": "fd33a047-42a5-53de-9f5f-a680761fc910",
  "id": ""
}
